<!-- <p>add-todos works!</p> -->
<form class="text-center" (submit)="onSubmit($event)">
    <div class="form-group mb-3">
      <label for="exampleInputEmail1">TITILE</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="title">
    </div>
    <div class="form-group mb-3">
      <label for="exampleInputPassword1">DESCRIPTION</label>
      <input type="text" class="form-control" id="exampleInputPassword1" name="description">
    </div>
    <button class="btn btn-primary" >Submit</button>
</form>