<div class="container-xxl main-div">
    <button type="button" class="button-add" data-bs-toggle="collapse" data-bs-target="#divDescription">
        <div class="input-group mb-3 todoinput">
            <input type="text" class="form-control" placeholder="Add Note Title" aria-label="Username" name="title" id="title" [(ngModel)]="title"
                aria-describedby="basic-addon1">
            <span class="input-group-text" (click)='onAdd()'>📍</span>
        </div>
    </button>
    <div id="divDescription" class="accordion-collapse collapse">
        <div class="accordion-body">
            <textarea id="not" placeholder="Enter Your Title Description Here" name="desc" id="desc" [(ngModel)]="desc"></textarea>
        </div>
    </div>
</div>